@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@200;400;600&display=swap");

body {
  font-family: "Kanit", sans-serif;
  @apply bg-slate-950;
  min-height: 100svh;
}

.loading-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  height: 100%;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.spinner {
  border: 4px solid rgb(2 6 23);
  border-top: 4px solid pink;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}
